@using Client.ViewModels;

@model ChangePasswordVM;

@{
   Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Change Password</title>
   <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
   <style>
      * {
         margin: 0;
         padding: 0;
      }
   </style>
</head>

<body style="background-color: #FAF5E4; margin: 0; padding: 0; height: 90vh; width: 90vw;">
   <div class="row" style="height: 90vh;">
      <div class="col-md-6 d-flex align-items-center justify-content-center" style="margin-top: 55px;">
         <img src="~/images/login-register.png" alt="image" height="600px">
      </div>
      <div class="col-md-6 d-flex align-items-center justify-content-center">
         <div class="box shadow bg-white rounded " style="padding: 50px; width: 70%; margin-top: 45px;">
            <img src="~/images/logo.png" alt="logo">
            <p class="mt-3" style="font-size: 20px; width: 80%;">Kselleo helps teams move work
               forward.</p>
            <div style="background-color: #FAF5E4; width: max-content; margin:auto">
               <p class="text-center px-4 py-2 " style="color: #083DF9;">Change New Password</p>
            </div>

            <form asp-action="Register">
               <div asp-validation-summary="ModelOnly" class="text-danger"></div>
               <div class="form-group">
                  <label class="control-label">Email</label>
                  <input id="email" class="form-control" placeholder="Enter email" required>
               </div>
               <div class="form-group">
                  <label class="control-label">OTP</label>
                  <input id="otp" class="form-control" placeholder="Enter OTP">
               </div>
               <div class="form-group">
                  <label class="control-label">NewPassword</label>
                  <input id="newpassword" class="form-control" placeholder="Enter new password">
               </div>
               <div class="form-group">
                  <label class="control-label">ConfirmPassword</label>
                  <input id="confirmpassword" class="form-control" placeholder="Enter confirm password">
               </div>
               <div class="d-flex justify-content-between" style="gap: 15px; margin-top: 50px;">
                  <input type="submit" value="Confirm" class="btn text-white"
                     style="background-color: #F8B401; width: 90%;" />
                  <a class="btn btn-outline-secondary" asp-controller="Auth" asp-action="Login" style="width: 90%;">Back
                     to Log In</a>
               </div>
            </form>
         </div>
      </div>
   </div>


   <script src="~/lib/jquery/dist/jquery.min.js"></script>
   <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>