@{
   Layout = "_UserLayout";
   ViewData["Title"] = "Detail Board";

}

<div class="header row p-4 shadow rounded ">
   <div class="col">
      <h2>E-Commerce</h2>
      <p>
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad in non quidem molestiae. Autem veritatis suscipit
         adipisci possimus tempore consectetur laborum. Exercitationem at aut optio. Aspernatur corporis veniam odio
         exercitationem?
      </p>
   </div>
   <div class="col" style="text-align: right;">
      <p style="color: #646464; font-size: 18px;">Date created</p>
      <p style="color: #646464; font-size: 18px;">28 April 2022, 20:12 PM</p>
      <div class="d-flex float-right mt-2" style="text-align: right;">
         <button class="btn btn-outline-secondary mr-4">+ Invite Member</button>
         <div class="members d-flex">
            <img src="https://ui-avatars.com/api/?name=Rama+Dhani&background=random" alt="project-manager" width="40px"
               class="rounded-circle" data-toggle="tooltip" data-placement="right" title="Rama Dhani - BE"
               style="margin-right: -20px;">
            <img src="https://ui-avatars.com/api/?name=Neo+Adam&background=random" alt="project-manager" width="40px"
               class="rounded-circle" data-toggle="tooltip" data-placement="right" title="Neo Adam - BE"
               style="margin-right: -20px;">
            <img src="https://ui-avatars.com/api/?name=Cristiano+Ronaldo&background=random" alt="project-manager"
               width="40px" class="rounded-circle" data-toggle="tooltip" data-placement="right"
               title="Cristiano Ronaldo - BE" style="margin-right: -20px;">
            <img src="https://ui-avatars.com/api/?name=Messi&background=random" alt="project-manager" width="40px"
               class="rounded-circle" data-toggle="tooltip" data-placement="right" title="Messi - FE">
         </div>
      </div>
   </div>
</div>

<div class="row mt-5">
   <div class="col-3">
      <h3 style="color: #2231B6;">Todo</h3>

      <div class="list">

      </div>
   </div>

   <div class="col-3">
      <h3 style="color: #16BDD3;">In Progress</h3>
   </div>


   <div class="col-3">
      <h3 style="color: #B43CED;">Review</h3>
   </div>


   <div class="col-3">
      <h3 style="color: #10D024;">Done</h3>
   </div>

</div>