@using Client.ViewModels;
@model PageBoardVM;

@{
   Layout = "_UserLayout";
   ViewData["Title"] = "My Boards";
   ViewData["FullName"] = Model.DecodeJwtVM.FullName;
}

<h1>Invitations</h1>

<div class="mt-4">
<table class="table table-striped">
   <thead>
      <tr>
         <th>No</th>
         <th>Project Manager</th>
         <th>Board</th>
         <th>Role</th>
         <th>Actions</th>
      </tr>
   </thead>
   <tbody id="tbody-invitation">
     
   </tbody>
</table>
</div>


@section Scripts {
<script src="~/js/Board/Invitation.js"></script>
<script>
   getInvitations(@Model.DecodeJwtVM.Id);
</script>
}